* {
    margin: 0;
    padding: 0;
    font-family: "Anek Tamil", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --cs-primary: #F5F0EA;
    --cs-text: #000000;
    --cs-accent: #4C603D;
    --cs-darkgrn: rgba(76, 96, 61, 0.2);
    --cs-greenbg: #4d613d33;
    --cs-white: #ffffff;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    color: var(--cs-white);
}

h2 {
    font-size: 64px;
    font-weight: 200;
    color: var(--cs-text);
}

h3 {
    font-size: 48px;
    font-weight: 100;
    color: var(--cs-text);
}

h4 {
    font-size: 24px;
    font-weight: 300;
    color: var(--cs-text);
}

a {
    font-size: 24px;
    font-weight: 400;
    font-family: "Courier Prime", monospace;
    color: var(--cs-accent);
}

p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Courier Prime", monospace;
    color: var(--cs-text);
}

h5,
label {
    font-size: 32px;
    font-weight: 100;
    line-height: 45.06px;
    color: var(--cs-text);
}

hr {
    background-color: var(--cs-accent);
    height: 1px;
}

.cp60 {
    padding: 80px 60px;
}

.fa-arrow-right {
    padding-left: 10px;
}

.gen-btn {
    transition: .4s all ease-in-out, .4s all ease-in-out;
    margin-top: 30px;
}

.gen-btn:hover {
    color: var(--cs-darkgrn);
    padding-left: 10px;
}

.gen-btn2:hover {
    padding-right: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: transparent;
    border-color: #8C8C8C;
    outline: 0;
    box-shadow: none;
}

/* header */
.header {
    padding: 20px 15px;
    position: absolute;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 50px;
}

.nav-item a {
    font-size: 20px;
    font-weight: 500;
    font-family: "Anek Tamil", sans-serif;
    line-height: 28.16px;
    color: var(--cs-white);
}

.nav-item a:hover {
    color: var(--cs-accent);
}

.navbar-nav .nav-item.active .nav-link {
    /* font-weight: 500; */
}

.navbar-brand img {
    max-width: 70%;
}

/* header ends */

/* banner starts */
.hero {
    background: url(../images/banner.png) center center / cover no-repeat;
}

.hero .row {
    min-height: 88vh;
}

/* banner ends */

/* range of treatments starts */
.trt_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* range of treatments ends */

/* about starts */
.about_box {
    background-color: var(--cs-greenbg);
}

.ab_box {
    padding: 60px;
}

.about_content {
    padding: 80px 0px;
    width: 83%;
}

.about_content p {
    padding-left: 50px;
    padding-top: 20px;
}

.kar h4 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
}

.kar h4 hr {
    width: 80px;
    margin-right: 20px;
}

/* about ends */

/* get in touch starts */
.contact {
    background-color: var(--cs-primary);
}

.contact_content form {
    margin-top: 50px;
}

.contact_content form input,
.contact_content form textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8C8C8C;
    padding: 10px 10px 10px 0px;
    border-radius: 0;
    margin-bottom: 20px;
}

.contact_content form input::placeholder,
.contact_content form textarea::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: var(--cs-text);
}

form button {
    border: 0;
    font-family: "Courier Prime", monospace;
    font-size: 24px;
    font-weight: 400;
    color: var(--cs-accent);
    background-color: transparent;
}

/* get in touch ends */

/* footer starts */
.footer {
    background-color: var(--cs-primary);
}

.footer_content ul li {
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.menu ul li a p {
    color: var(--cs-accent);
}

.footer_content ul li:hover {
    padding-left: 5px;
}

.newsletter input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8C8C8C;
    padding: 10px 10px 10px 0px;
    border-radius: 0;
    margin-bottom: 20px;
    width: 80%;
    margin-top: 20px;
}

.newsletter input::placeholder {
    font-family: "Courier Prime", monospace;
    font-size: 20px;
    font-weight: 400;
    color: var(--cs-accent);
}

.social ul li a i {
    width: 40px;
    height: 40px;
    background-color: #231f20;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--cs-white);
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.social ul li a i:hover {
    background-color: var(--cs-accent);
    margin-top: -8px;
}

/* footer ends */

/* ================================================ */

/* treatments page starts */
.trt_head li a {
    color: var(--cs-text);
}

.treatments {
    background: url(../images/treatment-banner.png) center center / cover no-repeat;
    ;
}

.treatments .row {
    min-height: 60vh;
}

.skindex_content {
    width: 60%;
    margin: auto;
}

.items_title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wd {
    width: 40%;
    text-align: left;
}

.trt_contact {
    background-color: var(--cs-darkgrn);
}

.footer_trt {
    background-color: var(--cs-darkgrn);
}

/* treatments page ends */

/* ================================================ */

/* about page starts */
.aboutpg {
    background: url(../images/about-banner.png) center center / cover no-repeat;
    ;
}

.aboutpg .row {
    min-height: 60vh;
}

.meet {
    background: url(../images/about-abstract.png) bottom right no-repeat;
    background-size: 20%;
    background-color: var(--cs-primary);
}

.meet-karolina p {
    padding-top: 100px;
    text-align: justify;
}

.about-karolina {
    background-color: var(--cs-darkgrn);
}

.kj {
    padding: 100px;
}

.cta {
    background-color: var(--cs-primary);
}

.about_contact {
    background-color: var(--cs-white);
}

.footer_about {
    background-color: var(--cs-white);
}

/* about page ends */

/* ================================================ */

/* Contact starts */
.contact_header {
    background-color: var(--cs-white);
}

.ct_header li a {
    color: var(--cs-text);
}

.lgbox a img {
    max-width: 50%;
}

.contctpg {
    padding: 180px 60px 80px 60px;
    background-color: var(--cs-darkgrn);
}

.contact_title {
    padding-bottom: 80px;
}

.contactpg_link a:hover{
    color: var(--cs-accent);
}

.contactpg_link{
    margin-bottom: 30px;
}

.inpbox {
    display: flex;
    justify-content: space-between;
}

.inpitem {
    width: 48%;
}

.contactpg_form form input::placeholder,
.contactpg_form form textarea::placeholder {
    color: var(--cs-accent);
    font-family: "Courier Prime", monospace;
}